/* Fonts */
h1 {
	font-family: 'Alegreya Sans SC', sans-serif; 
	font-weight: 800;
}

h3 {
	font-family: 'Alegreya Sans SC', sans-serif; 
	font-weight: 500;
}

p {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}

/* CLearfix */
.group:after {
  content: "";
  display: table;
  clear: both;
}

/* Fixed Title Bar Styles */
.title_bar {
	position: fixed;
	width: 100%;
	background-color: #49a7dd;
	z-index: 15;
}

.ecovent_logo {
	padding-bottom: 0%;
	margin-bottom: -1%;
	padding-right: 2%;
	width: 35%;
	float: left;
}

.title {
	color: white;
	font-size: 3.5em;
	padding-bottom: 0%;
	margin-bottom: -1%;
	margin-top: 3%;
}

.title_bar p {
	color: white;
}

.sign_up {
	float: right;
	padding-top: 3%;
	padding-left: 5%;
}

#mce-EMAIL {
	width: 60%;
	display: inline-block;
}

#mc-embedded-subscribe {
	display: inline-block;
}

/* Ecovent Video with Vent Border */
.video_banner {
	position: relative;
	margin: 10% 10% 0% 10%;
	padding-bottom: 45%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.vent_video {
	border: 40px solid transparent;
  	-moz-border-image:url("../images/ventvideo.jpg") 40 40 stretch; /* Old firefox */
  	-webkit-border-image:url("../images/ventvideo.jpg") 40 40 stretch; /* Safari */
  	-o-border-image:url("../images/ventvideo.jpg") 40 40 stretch; /* Opera */
  	border-image:url("../images/ventvideo.jpg") 40 40 stretch;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}

.video_section {
	margin-bottom: 2%;
}

.social_top {
	margin-left: 42%;
}

/* Systems Banner */
.story, .what_can {
	width: 100%;
	background: #F4F4F4 repeat;
	padding-top: 2%;
	padding-bottom: 5%;
}

.section_title {
	text-align: center;
	font-size: 2.75em;
}

.systems_comp, .what_can_eco {
	padding-left: 3%;
	text-align: center;
}

.systems_comp img {
	width: 80%;
}

/* Story Banner */
.story p {
	margin-left: 10%;
	margin-right: 10%;
}

.systems_banner {
	margin-bottom: 5%;
}

/* What Can Banner */
.what_can_eco img {
	width: 60%;
}

/* Info Footer */
.info_footer {
	width: 100%;
	background-color: #49a7dd;
	color: white;
}

.container-fluid {
	width: 100%;
}

.info_footer a {
	color: #bfe6f5;
}

.contact {
	padding-bottom: 10%;
	width: 100%;
}

.glyphicon-earphone, .glyphicon-envelope, .glyphicon-home {
	font-size: 2em;
	display: inline;
}

.contact_info h4 {
	padding-left: 5%;
	display: inline;
	font-size: 1.2em;
	font-family: 'Raleway', sans-serif;
}

.contact_info a {
	font-size: 1em;
	padding-left: 5%;
	font-family: 'Raleway', sans-serif;
}

/* Social Media Icons Taken From http://bradsknutson.com/blog/css3-rollover-social-media-icons/*/
.twitter {
	background-image: url('../images/icons/twitter-hover.png');
}

.google {
	background-image: url('../images/icons/google-hover.png');
}

.facebook {
	background-image: url('../images/icons/facebook-hover.png');
}

.social-slide {
	height: 48px;
	width: 48px;
	margin: 10px;
	float: left;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	transition: all ease 0.3s;
}
.social-slide:hover {
	background-position: 0px -48px;
	box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.8);
}

/* Copyright Footer */
.copyright_footer {
	width: 100%;
	background-color: #49a7dd;
	color: white;
	clear: both;
}